<div class="row">
<% @listings.each do |item| %>
  <div class="column">
    <div class="card">
      <h4><%= item.name %></h4>
      <img src="#{item.pic}">
      <p class="price">$<%= item.price %></p>
      <p>Bedrooms: <%= item.bedrooms %></p>
      <p>Bathrooms: <%= item.bathrooms%></p>
      <p><%= item.street %>,
        <br>
        <%= item.city %>, <%= item.state %> <%= item.postal %> </p>  
      <form method="GET" action="/listings/<%=item.id%>">
        <button type="submit">Details</button>
      </form>
    </div>
  </div>
<% end %>
</div>



<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 10px;
}

.price {
  color: #A9A9A9;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>