<div class="card">
  <h4><%= @listing.name %></h4>
  <img src="<%= @listing.pic %>" height="300" width="300">
  <p class="price">$<%= @listing.price %></p>
  <p>Bedrooms: <%= @listing.bedrooms %></p>
  <p>Bathrooms: <%= @listing.bathrooms%></p>
  <p><%= @listing.street %>,
    <br>
    <%= @listing.city %>, <%= @listing.state %> <%= @listing.postal %> </p> 
  <p><%= @listing.description %></p>
  <p>Contact:</p>
  <p><%= @realtor.name %><br><%= @realtor.phone %></p>

<form method="post" action="/listings/<%=@listing.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Listing">
</form>
<form method="patch" action="/listings/<%=@listing.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="EDIT">
  <input type="submit" value="Edit Listing">
</form>
</div>

<style>
.card {width: 50%;}
</style>